<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="../css/signup.css" type="text/css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>

<main>
    <div class="try">
        <img src="../img/logo.png" alt="koun" width="130px" id="logo">
        <section class="login-form" >

            <div class="login-input-container ">
                <input type="text" class="account" id="name" placeholder="이름">
            </div>
            <div class="login-input-container">
                <input type="text" class="account" id="mail" placeholder="이메일">
            </div>
            <div class="login-input-container">
                <input type="password" class="account" id="pw" placeholder="비밀번호">
            </div>
            <div class="login-input-container ">
                <input type="password"  class="account" placeholder="비밀번호 확인">
            </div>


            <button class="login" type="submit" id="signupBtn">가입하기</button>

        </section>

    </div>
</main>

<script src="../js/signUp.js"></script>
</body>
</html>